html {
	background-color:#355664;
  background: url("Images/boxes.jpg");
  background-size: cover;
}
body {
    margin-top: 0;
    font-family: Verdana;
    width: 1000px;
    height: auto;
    margin: 0 auto;
    border: 1px solid #2c3e50;
    background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
}
header {
    margin: auto;
    border-bottom: 2px solid #2c3e50;
    padding: .5em 2em;
}
header h1 {
    margin: 0;
    padding: 0;
}
header p {
    margin: 0;
    padding: .25em 0 0 0;
}

main {
    margin: auto;
    padding: .5em 2em .25em;
}
footer {
    clear: both;
    margin: auto;
    padding: .5em 2em;
    border-top: 2px solid #2c3e50;
}
footer p {
    text-align: left;
    font-size: 80%;
    margin: 1em 0;
}

h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
}
h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .25em ;
}

p {
    margin: .5em 0 .5em 0;
    padding: 0;
}

ul ol{
    margin: 0;
    padding: 0;
    text-indent: 100px;
}
li {
    margin: 0;
    padding: 0;
}
nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
nav ul li {
    padding-bottom: 0.5em;
}

a {
    color: #D7DEE8;
    font-weight: bold;
}
a:hover {
    color: #485969;
}

table {
    border: 2px solid white;
    border-collapse: collapse;
    color:white;

}
td {
  text-align: center;
  border: 1px dashed white;
  padding: .2em .5em .2em .5em;

}

th {
	text-align: center;
	border: 1px dashed white;
	padding: .2em .5em .2em .5em;
	color:black;
}

textarea {
    font-family: Verdana;
    font-size: 80%;
}
input[type=text], input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit],input[type=button]  {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  padding: 20px;
}
